<!-- Author: Wilson Pilco Nunez -->
<!-- Email: wilsonaux1@gmail.com -->
<!-- Created at: 2023-09-30 13:32 -->
<!-- Description:  -->
<template>
  <button @click="playResource" id="everybodydance" class="red-button" :class="{ pressed: isPlaying }">
    <span>
      <SoundWave v-if="isPlaying"></SoundWave>
    </span>
  </button>
  <audio autoplay="false" controls="false" style="display: none;" src="https://radio-stream.mi31.xyz:8100/salvacion" preload="auto"
    ref="elAudio"></audio>
</template>
<script>
import SoundWave from "./SoundWave.vue";
function onError() {console.log("Bad browser! No Web Audio API for you");}
export default {
  name: "AudioPlayer",
  components: {
    SoundWave,
  },

  // directives

  props: {
    // src: { required: true }
  },

  data: () => ({
    context: null,
    buffer: null,
    isPlaying: false,
    preloaded: false,
  }),

  computed: {
    //
  },

  // watch: {},

  created() {
    var contextClass = (window.AudioContext || window.webkitAudioContext || window.mozAudioContext || window.oAudioContext || window.msAudioContext);
    if (contextClass) {
      var context = new contextClass();
    } else {
      onError;
    }
    this.context = new contextClass();
    var request = new XMLHttpRequest();
    request.open('GET', "https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/gonna-make-you-sweat.mp3", true);
    request.responseType = 'arraybuffer';
    request.onload = () => {
      this.context.decodeAudioData(request.response, (theBuffer) => {
        this.buffer = theBuffer;
      }, onError);
    }
    // request.send();
  },

  methods: {
    playResource() {
      // var source = this.context.createBufferSource();
      // source.buffer = this.buffer;
      // source.connect(this.context.destination);
      // source.start(0);
      if(!this.preloaded) {
        this.preloaded = true;
      }
      if (this.isPlaying) {
        this.$refs.elAudio.pause();
        this.isPlaying = false;
      } else {
        this.$refs.elAudio.play();
        this.isPlaying = true;
      }

    }
    //
    //
  }
};
</script>
<style scoped>
.red-button { 
  border-radius: 50%; 
  width: 200px;
  height: 200px;
  border: none;
  color: white;
  font-family: Avenir, Arial, sans-serif;
  font-weight: 900;
  font-size: 2.5rem;
  background: red;
  text-shadow: 0 3px 1px rgba(122,17,8,.8);
  box-shadow: 0 8px 0 rgb(183,9,0), 
    0 15px 20px rgba(0,0,0,.35);
  text-transform: uppercase;
  transition: .4s all ease-in;
  outline: none; 
  cursor: pointer;
  text-align: center;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.red-button span { position: relative; }
/* fix for IE 11 (and IE8+, although the earlier versions are harder to address) stupidly moving the inner button text on click */
.pressed { 
  padding-top: 3px;
  transform: translateY(4px);
  box-shadow: 0 4px 0 rgb(183,0,0),
    0 8px 6px rgba(0,0,0,.45);
}
</style>

